<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--主键生成service-->
    <bean id="bmKeyService" class="com.markbro.dzd.base.tablekey.service.TableKeyService">
        <property name="key_name" value="org_department"></property>
    </bean>
    <bean id="gwKeyService" class="com.markbro.dzd.base.tablekey.service.TableKeyService">
        <property name="key_name" value="org_position"></property>
    </bean>
    <bean id="keyService" class="com.markbro.dzd.base.tablekey.service.TableKeyService">
        <property name="key_name" value="common"></property>
    </bean>
    <bean id="yhKeyService" class="com.markbro.dzd.base.tablekey.service.TableKeyService">
        <property name="key_name" value="sys_user"></property>
    </bean>
    <bean id="contextProvider" class="com.markbro.asoiaf.core.ContextProviderImpl"></bean>
    <bean class="com.markbro.asoiaf.core.utils.SpringContextHolder"></bean>

    <!--开发模式下配置此bean，修改xml映射文件后不用重启服务，开发模式打开-->
    <!--<bean id="mapperLoader" class="com.markbro.asoiaf.core.utils.MapperLoader"></bean>-->

    <bean id="dbPasswordCallback" class="com.markbro.asoiaf.core.config.DBPasswordCallback">
        <description>数据库连接回调密码解密</description>
        <property name="pwd" value="${jdbc.password}"></property>
    </bean>

</beans>