<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/p
      http://www.springframework.org/schema/p/spring-p.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd"
           default-lazy-init="false" default-init-method="init">

    <context:component-scan base-package="com.markbro.dzd">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
       <!-- <context:include-filter  type="annotation" expression="org.springframework.stereotype.Controller"/>这个配置就是不行-->
    </context:component-scan>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper">
                    <bean class="com.markbro.asoiaf.core.utils.CustomJsonMapper" />
                    <!--<bean class="com.github.miemiedev.mybatis.paginator.jackson2.PageListJsonMapper" />-->
                </property>
                <property name="prettyPrint" value="true"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- 将无法mapping到Controller的path交给default servlet handler处理 -->
    <mvc:default-servlet-handler />
    <!-- 控制器异常处理 -->
    <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>
    <bean class="com.markbro.asoiaf.core.web.DefaultExceptionHandler"/>

    <!-- 国际化支持 -->
   <!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames" value="i18n.messages"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>-->

    <mvc:interceptors>
        <!-- 分页处理拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="com.github.miemiedev.mybatis.paginator.springmvc.PageListAttrHandlerInterceptor" />
        </mvc:interceptor>
        <!--<bean class="com.markbro.broadminin.interceptor.UserAuthInterceptor"></bean>-->
        <!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
        <!--<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>-->
       <!--性能检测-->

        <mvc:interceptor>
            <mvc:mapping path="/**"></mvc:mapping>
            <mvc:exclude-mapping path="/resources/**"/>

            <bean class="com.markbro.dzd.interceptor.MonitorInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"></mvc:mapping>
            <mvc:exclude-mapping path="/resources/**"/>

            <bean class="com.markbro.dzd.interceptor.RequestFilterInterceptor"></bean>
        </mvc:interceptor>
        <!-- 手机视图拦截器 -->
        <!--<mvc:interceptor>
        <mvc:mapping path="/**" />
            <bean class="com.markbro.broadminin.interceptor.MobileInterceptor" />
        </mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.markbro.dzd.interceptor.ActionLogInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--静态资源处理-->
   <mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
    <mvc:resources location="/front/" mapping="/front/**"></mvc:resources>
    <!-- 定义无Controller的path<->view直接映射 -->
  <mvc:view-controller path="/" view-name="/login"/>

   <!-- <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean name="tableView" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/jsp/table.jsp" />
    </bean>
    <bean name="divView" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/jsp/div_table.jsp" />
    </bean>
    <bean name="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    <!-- 系统注册码配置 -->
    <bean id="serial" class="com.markbro.dzd.common.util.Serial">
        <property name="serials">
            <list>
                <value>H822C862C382233JF2238K9766MJ9CJ42FJ3J7J692262337928M26C323G62K2H</value>
            </list>
        </property>
    </bean>
</beans>