<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbro.dzd.base.receipt.dao.ReceiptMapper">
	<!--<sql id="addColumns">id,orgid,djfl,djmc,djlb,zdy,qz1,lscd,glsz,qsz,djsy,fgf,dqls,createTime,updateTime,createBy,updateBy,available,deleted</sql> -->
	<!--<sql id="updateColumns">orgid,djfl,djmc,djlb,zdy,qz1,lscd,glsz,qsz,djsy,fgf,dqls,updateTime,createBy,updateBy,available,deleted</sql> -->
	<cache type="com.markbro.asoiaf.mybatis.cache.AsoiafCache" eviction="org.apache.ibatis.cache.decorators.LruCache" readOnly="true" size="1024" flushInterval="3600000"/>
	<sql id="allColumns">id,orgid,djfl,djmc,djlb,zdy,qz1,lscd,glsz,qsz,djsy,fgf,dqls,createTime,updateTime,createBy,updateBy,available,deleted</sql>
	<!--如果实体类中属性名与数据库表中的字段名不一致就需要用resultMap映射-->
	<resultMap id="receiptResult" type="com.markbro.dzd.base.receipt.bean.Receipt">
		<result property="id" column="id" />
		<result property="orgid" column="orgid" />
		<result property="djfl" column="djfl" />
		<result property="djmc" column="djmc" />
		<result property="djlb" column="djlb" />
		<result property="zdy" column="zdy" />
		<result property="qz1" column="qz1" />
		<result property="lscd" column="lscd" />
		<result property="glsz" column="glsz" />
		<result property="qsz" column="qsz" />
		<result property="djsy" column="djsy" />
		<result property="fgf" column="fgf" />
		<result property="dqls" column="dqls" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
		<result property="createBy" column="createBy" />
		<result property="updateBy" column="updateBy" />
		<result property="available" column="available" />
		<result property="deleted" column="deleted" />
	</resultMap>
    <sql id="Receipt_Where_Clause">
        <if test="id != null and id != ''">
				AND id = #{id}
		</if>
			<if test="orgid != null and orgid != ''">
				AND orgid = #{orgid}
		</if>
			<if test="djfl != null and djfl != ''">
				AND djfl = #{djfl}
		</if>
			<if test="djmc != null and djmc != ''">
				AND djmc = #{djmc}
		</if>
			<if test="djlb != null and djlb != ''">
				AND djlb = #{djlb}
		</if>
			<if test="zdy != null and zdy != ''">
				AND zdy = #{zdy}
		</if>
			<if test="qz1 != null and qz1 != ''">
				AND qz1 = #{qz1}
		</if>
			<if test="lscd != null and lscd != ''">
				AND lscd = #{lscd}
		</if>
			<if test="glsz != null and glsz != ''">
				AND glsz = #{glsz}
		</if>
			<if test="qsz != null and qsz != ''">
				AND qsz = #{qsz}
		</if>
			<if test="djsy != null and djsy != ''">
				AND djsy = #{djsy}
		</if>
			<if test="fgf != null and fgf != ''">
				AND fgf = #{fgf}
		</if>
			<if test="dqls != null and dqls != ''">
				AND dqls = #{dqls}
		</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
		</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
		</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
		</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
		</if>
			<if test="available != null and available != ''">
				AND available = #{available}
		</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
		</if>
			
    </sql>
    <select id="get"  resultMap="receiptResult">
        select <include refid="allColumns"/>
        from base_receipt
        where
        id =#{id}
    </select> 
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.markbro.dzd.base.receipt.bean.Receipt" flushCache="true">
    	insert into base_receipt(id,orgid,djfl,djmc,djlb,zdy,qz1,lscd,glsz,qsz,djsy,fgf,dqls,createTime,updateTime,createBy,updateBy,available,deleted)
    	values (#{id},#{orgid},#{djfl},#{djmc},#{djlb},#{zdy},#{qz1},#{lscd},#{glsz},#{qsz},#{djsy},#{fgf},#{dqls},now(),now(),#{createBy},#{updateBy},1,0)
    </insert>
    <insert id="addBatch" flushCache="true">
        insert into base_receipt (id,orgid,djfl,djmc,djlb,zdy,qz1,lscd,glsz,qsz,djsy,fgf,dqls,createTime,updateTime,createBy,updateBy,available,deleted)
        values
        <foreach collection="list" item="item" separator="," >
        	(#{item.id},#{item.orgid},#{item.djfl},#{item.djmc},#{item.djlb},#{item.zdy},#{item.qz1},#{item.lscd},#{item.glsz},#{item.qsz},#{item.djsy},#{item.fgf},#{item.dqls},now(),now(),#{item.createBy},#{item.updateBy},1,0)
        </foreach>
    </insert>
    <update id="update" parameterType="com.markbro.dzd.base.receipt.bean.Receipt" flushCache="true">
    	update base_receipt 
    	<set>
    		<if test="orgid != null">orgid=#{orgid},</if>
			<if test="djfl != null">djfl=#{djfl},</if>
			<if test="djmc != null">djmc=#{djmc},</if>
			<if test="djlb != null">djlb=#{djlb},</if>
			<if test="zdy != null">zdy=#{zdy},</if>
			<if test="qz1 != null">qz1=#{qz1},</if>
			<if test="lscd != null">lscd=#{lscd},</if>
			<if test="glsz != null">glsz=#{glsz},</if>
			<if test="qsz != null">qsz=#{qsz},</if>
			<if test="djsy != null">djsy=#{djsy},</if>
			<if test="fgf != null">fgf=#{fgf},</if>
			<if test="dqls != null">dqls=#{dqls},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
    	</set>
    	 where
    	id =#{id}
    </update>
	<update id="updateByMap" parameterType="map" flushCache="true">
        update base_receipt
        <set>
            <if test="orgid != null">orgid=#{orgid},</if>
			<if test="djfl != null">djfl=#{djfl},</if>
			<if test="djmc != null">djmc=#{djmc},</if>
			<if test="djlb != null">djlb=#{djlb},</if>
			<if test="zdy != null">zdy=#{zdy},</if>
			<if test="qz1 != null">qz1=#{qz1},</if>
			<if test="lscd != null">lscd=#{lscd},</if>
			<if test="glsz != null">glsz=#{glsz},</if>
			<if test="qsz != null">qsz=#{qsz},</if>
			<if test="djsy != null">djsy=#{djsy},</if>
			<if test="fgf != null">fgf=#{fgf},</if>
			<if test="dqls != null">dqls=#{dqls},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
        </set>
        where
        id =#{id}
    </update>
	<update id="updateByMapBatch" parameterType="map" flushCache="true">
         update base_receipt
         <set>
         <if test="orgid != null">orgid=#{orgid},</if>
			<if test="djfl != null">djfl=#{djfl},</if>
			<if test="djmc != null">djmc=#{djmc},</if>
			<if test="djlb != null">djlb=#{djlb},</if>
			<if test="zdy != null">zdy=#{zdy},</if>
			<if test="qz1 != null">qz1=#{qz1},</if>
			<if test="lscd != null">lscd=#{lscd},</if>
			<if test="glsz != null">glsz=#{glsz},</if>
			<if test="qsz != null">qsz=#{qsz},</if>
			<if test="djsy != null">djsy=#{djsy},</if>
			<if test="fgf != null">fgf=#{fgf},</if>
			<if test="dqls != null">dqls=#{dqls},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
         </set>
         where
         id in
         <foreach collection="ids" item = "id" open="(" separator="," close=")">
         #{id}
         </foreach>
    </update>
  	<delete id="delete" flushCache="true">
      	delete  from base_receipt where id =#{id}
    </delete>
  	<delete id="deleteBatch" flushCache="true">
      	delete  from base_receipt where id in
        <foreach collection="array" item = "ids" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>
    <select id="find" resultMap="receiptResult" parameterType="java.util.Map">
        SELECT <include refid="allColumns"/> FROM base_receipt
        <where>
            and available=1
            and deleted=0
            <include refid="Receipt_Where_Clause"/>
        </where>
    </select>
    <select id="findByMap" resultMap="receiptResult"  parameterType="map" >
   		SELECT <include refid="allColumns"/> FROM base_receipt
   		<where>
   		    <if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="orgid != null and orgid != ''">
				AND orgid = #{orgid}
			</if>
			<if test="djfl != null and djfl != ''">
				AND djfl = #{djfl}
			</if>
			<if test="djmc != null and djmc != ''">
				AND djmc = #{djmc}
			</if>
			<if test="djlb != null and djlb != ''">
				AND djlb = #{djlb}
			</if>
			<if test="zdy != null and zdy != ''">
				AND zdy = #{zdy}
			</if>
			<if test="qz1 != null and qz1 != ''">
				AND qz1 = #{qz1}
			</if>
			<if test="lscd != null and lscd != ''">
				AND lscd = #{lscd}
			</if>
			<if test="glsz != null and glsz != ''">
				AND glsz = #{glsz}
			</if>
			<if test="qsz != null and qsz != ''">
				AND qsz = #{qsz}
			</if>
			<if test="djsy != null and djsy != ''">
				AND djsy = #{djsy}
			</if>
			<if test="fgf != null and fgf != ''">
				AND fgf = #{fgf}
			</if>
			<if test="dqls != null and dqls != ''">
				AND dqls = #{dqls}
			</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
			</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
			</if>
			<if test="available != null and available != ''">
				AND available = #{available}
			</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
			</if>
			
   		</where>
   	</select>

	<select id="findByOrgid" resultType="com.markbro.dzd.base.receipt.bean.Receipt">
		select *
			from base_receipt
		<where>
			orgid=#{orgid}
			and deleted=0
			and available=1
		</where>
	</select>
	<select id="findByDjfl" resultType="com.markbro.dzd.base.receipt.bean.Receipt">
		select *
			from base_receipt
		<where>
			djfl=#{djfl}
			and deleted=0
			and available=1
		</where>
	</select>
</mapper>
