<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbro.dzd.base.util.dao.BasicUtilMapper" >
	
	<select id="queryTableColumnBySjid" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from ${tables} where ${fjidcol}=#{pkval}
	</select>
	
	<update id="updateForSql" parameterType="java.util.Map">
		UPDATE ${_table_} a, (
		  SELECT a.guid,IFNULL((SELECT treecode FROM ${_table_} WHERE guid=#{_pkVal_}), '') AS prex, 
		   CASE WHEN LENGTH(COUNT(*))='1' THEN CONCAT('000', COUNT(*)) 
		     WHEN LENGTH(COUNT(*))='2' THEN CONCAT('00', COUNT(*)) 
		     WHEN LENGTH(COUNT(*))='3' THEN CONCAT('0', COUNT(*)) 
		    END treecode,COUNT(*) treeorder, ${_level_} treelevel 
		  FROM (SELECT guid FROM ${_table_} WHERE ${_sjidName_}=#{_pkVal_}) a, 
		       (SELECT guid FROM ${_table_} WHERE ${_sjidName_}=#{_pkVal_}) b 
		  WHERE a.guid <![CDATA[ >= ]]> b.guid GROUP BY a.guid) c 
		  SET a.treecode = CONCAT(c.prex,c.treecode),a.treeorder = c.treeorder,a.treelevel = c.treelevel WHERE a.guid = c.guid 
	</update>
	
	<resultMap type="java.util.HashMap" id="TreeResultMap">
		<result column="id" property="id"/>
		<result column="sjid" property="sjid"/>
		<result column="mc" property="mc"/>
	</resultMap>
	<select id="queryBmListOption" resultMap="TreeResultMap" parameterType="java.lang.String">
		select bmid as id, sjid, mc from t_org_bm where zt_dm=1
		<if test="zzid != null and zzid != ''">
		 and zzid=#{zzid}
		</if>
		<if test="bmid != null and bmid != ''">
		 and sjid=#{bmid}
		</if>
		 order by sjid,xh
	</select>
	
	<resultMap type="java.util.HashMap" id="orgYhTreeTable">
		<result column="sjid" property="sjid"/>
		<result column="sjbmid" property="sjbmid"/>
		<result column="lxid" property="lxid"/>
		<result column="mc" property="mc"/>
		<result column="py" property="py"/>
	</resultMap>
	<select id="queryOrgTreeYh" parameterType="java.lang.String" resultMap="orgYhTreeTable">
	  SELECT DISTINCT sjid, sjbmid, lxid, mc, py FROM t_org_tree 
	   WHERE zt_dm=1 AND lx_dm=204 
	  <choose>
	  <when test="bmid != null and bmid != ''">
	  and (sjbmid=#{bmid} OR lxid=#{bmid}) 
	  </when>
	  <otherwise>
	  and (sjbmid IN (SELECT bmid FROM t_org_bm WHERE zzid=#{zzid} AND zt_dm=1) OR lxid IN (SELECT bmid FROM t_org_bm WHERE zzid=#{zzid} AND zt_dm=1))
	  </otherwise>
	  </choose>
	   ORDER BY sjbmid,lx_dm,xh
	</select>
	<select id="queryOrgBmSjzzid" resultType="java.lang.String" parameterType="java.lang.String">
	SELECT sjzzid FROM t_org_bm_fb WHERE zzid=#{zzid}
	</select>
	<select id="queryCountByTableSql" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from ${tables} where ${querySql}
	</select>
	<select id="queryYdxsSysPara" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT csz FROM t_ydxs_sys_para WHERE csdm=#{csdm} AND yxbz=1
		<if test="zzid != null and zzid != ''">
		 and zzid=#{zzid}
		</if>
	</select>
	
	<resultMap type="java.util.HashMap" id="basicBrandMap">
		<result column="ppbm" property="ppbm"/>
		<result column="ppmc" property="ppmc"/>
		<result column="bz" property="bz"/>
		<result column="guid" property="guid"/>
	</resultMap>
	<select id="queryBasicBrand" resultMap="basicBrandMap" parameterType="java.lang.String">
		SELECT ppbm, ppmc, bz, guid FROM t_ydxs_brand WHERE zt_dm=1
		${zzidSql}
		<if test="guid != null and guid != ''">
		 and guid=#{guid}
		</if>
	</select>
	
	<resultMap type="java.util.HashMap" id="basicStoreMap">
		<result column="guid" property="guid"/>
		<result column="ckbm" property="ckbm"/>
		<result column="ckmc" property="ckmc"/>
		<result column="fjd" property="fjd"/>
		<result column="ssbm" property="ssbm"/>
		<result column="mrck" property="mrck"/>
		<result column="treecode" property="treecode"/>
		<result column="treeorder" property="treeorder"/>
		<result column="treelevel" property="treelevel"/>
	</resultMap>
	<select id="queryBasicStore" resultMap="basicStoreMap" parameterType="java.lang.String">
		SELECT guid, ckbm, ckmc, fjd, ssbm, mrck, treecode, treeorder, treelevel 
		  FROM t_ydxs_storehouse 
		 WHERE zt_dm=1
		<if test="guid != null and guid != ''">
		 and guid=#{guid}
		</if>
		<if test="sjid != null and sjid != ''">
		 and fjd=#{sjid}
		</if> ${zzidSql}
		ORDER BY treelevel, treeorder
	</select>
	<select id="queryBasicStoreByQx" resultMap="basicStoreMap" parameterType="java.lang.String">
     SELECT s.guid, s.ckbm, s.ckmc, s.fjd, s.ssbm, s.mrck, s.treecode, s.treeorder, s.treelevel 
       FROM t_ydxs_storehouse s, t_ydxs_storehouse_qx q 
      WHERE q.yhid=#{yhid} AND s.zt_dm=1 AND s.guid=q.guid
      ORDER BY treelevel, treeorder
	</select>
	<select id="queryBasicStoreByBm" resultMap="basicStoreMap" parameterType="java.lang.String">
	SELECT guid, ckbm, ckmc, fjd, ssbm, mrck, treecode, treeorder, treelevel 
	  FROM t_ydxs_storehouse 
     WHERE zt_dm=1
		<if test="bmid != null and bmid != ''">
		 and ssbm=#{bmid}
		</if>
		${zzidSql}
	 ORDER BY treelevel, treeorder
	</select>
	
	<resultMap type="java.util.HashMap" id="basicDmMap">
		<result column="dm" property="dm"/>
		<result column="mc" property="mc"/>
		<result column="xh" property="xh"/>
	</resultMap>
	<select id="queryBasicDm" resultMap="basicDmMap" parameterType="java.lang.String">
	 SELECT dm, mc, xh FROM t_ydxs_dm WHERE lb_dm=#{lbdm} AND zt_dm=1 ${zzidSql} order by xh
	</select>
	
	<resultMap type="java.util.HashMap" id="basicMaterialsMap">
		<result column="guid" property="guid"/>
		<result column="wldm" property="wldm"/>
		<result column="wlmc" property="wlmc"/>
		<result column="fjdbm" property="fjdbm"/>
		<result column="wlms" property="wlms"/>
		<result column="treecode" property="treecode"/>
		<result column="treeorder" property="treeorder"/>
		<result column="treelevel" property="treelevel"/>
	</resultMap>
	<select id="queryBasicMaterials" resultMap="basicMaterialsMap" parameterType="java.lang.String">
	SELECT guid, wldm, wlmc, wlms, fjdbm, treecode, treeorder, treelevel 
	FROM t_ydxs_materials 
	WHERE zt_dm=1 ${zzidSql}
	<if test="guid != null and guid != ''">
	 and guid=#{guid}
	</if>
	<if test="fjdbm != null and fjdbm != ''">
	 and fjdbm=#{fjdbm}
	</if>
	ORDER BY treelevel, treeorder
	</select>
	
	<resultMap type="java.util.HashMap" id="basicUnitMap">
		<result column="zzid" property="zzid"/>
		<result column="guid" property="guid"/>
		<result column="cjsj" property="cjsj"/>
		<result column="zguid" property="zguid"/>
		<result column="jldwbm" property="jldwbm"/>
		<result column="jldwmc" property="jldwmc"/>
		<result column="dwlx" property="dwlx"/>
		<result column="sfzdw" property="sfzdw"/>
		<result column="hsgx" property="hsgx"/>
		<result column="bz" property="bz"/>
		<result column="sfsdw" property="sfsdw"/>
	</resultMap>
	<select id="queryBasicUnit" resultMap="basicUnitMap" parameterType="java.lang.String">
	SELECT zzid, guid, cjsj, zguid, jldwbm, jldwmc, dwlx, sfzdw, hsgx, bz, sfsdw 
	  FROM t_ydxs_unit WHERE zt_dm=1 ${zzidSql}
		<if test="csz != null and csz != ''">
		and sfsdw=#{csz}
		</if>
		<if test="group != null and group != ''">
		and zguid=0
		</if>
		<if test="zguid != null and zguid != ''">
		and zguid=#{zguid}
		</if>
	</select>
	
	<resultMap id="basicMaterialsWlMap" type="java.util.HashMap" >
		<result column="guid" property="guid"/>
		<result column="flmc" property="flmc"/>
		<result column="fl" property="fl"/>
		<result column="dm" property="dm"/>
		<result column="pp" property="pp"/>
		<result column="ppmc" property="ppmc"/>
		<result column="mc" property="mc"/>
		<result column="pyjm" property="pyjm"/>
		<result column="gg" property="gg"/>
		<result column="txm" property="txm"/>
		<result column="jldwz" property="jldwz"/>
		<result column="jldwzmc" property="jldwzmc"/>
		<result column="jbdw" property="jbdw"/>
		<result column="jbdwmc" property="jbdwmc"/>
		<result column="cgdw" property="cgdw"/>
		<result column="cgdwmc" property="cgdwmc"/>
		<result column="kcdw" property="kcdw"/>
		<result column="kcdwmc" property="kcdwmc"/>
		<result column="xsdw" property="xsdw"/>
		<result column="xsdwmc" property="xsdwmc"/>
		<result column="kcsx" property="kcsx"/>
		<result column="kcxx" property="kcxx"/>
		<result column="mrck" property="mrck"/>
		<result column="mrckmc" property="mrckmc"/>
		<result column="cpsx" property="cpsx"/>
		<result column="sfcg" property="sfcg"/>
		<result column="sfxs" property="sfxs"/>
		<result column="sfzs" property="sfzs"/>
		<result column="sfsc" property="sfsc"/>
		<result column="jhjg" property="jhjg"/>
		<result column="pfjg" property="pfjg"/>
		<result column="lsjg" property="lsjg"/>
		<result column="sfsy" property="sfsy"/>
		<result column="ssbm" property="ssbm"/>
		<result column="xgsj" property="xgsj"/>
		<result column="zdxj" property="zdxj"/>
		<result column="cpbh" property="cpbh"/>
		<result column="kuozhan1" property="kuozhan1"/>
		<result column="kuozhan2" property="kuozhan2"/>
		<result column="kuozhan3" property="kuozhan3"/>
		<result column="kuozhan4" property="kuozhan4"/>
		<result column="kuozhan5" property="kuozhan5"/>
		<result column="kuozhan6" property="kuozhan6"/>
	</resultMap>
	<select id="queryBasicWlMaterials" resultMap="basicMaterialsWlMap" parameterType="java.lang.String">
		select zzid,bmid,gwid,yhid,guid,cjsj,zt_dm,
		 dm,mc,pyjm,gg,txm,cpsx,sfcg,sfxs,sfzs,sfsc,sfsy,ssbm,xgsj,cpbh,
		 flmc,fl, pp,ppmc,jldwz,jldwzmc,jbdw,jbdwmc,cgdw,cgdwmc,kcdw,kcdwmc,xsdw,xsdwmc,
		 mrck,mrckmc,kcsx,kcxx,jhjg,pfjg,lsjg,zdxj,
		 kuozhan1,kuozhan2,kuozhan3,kuozhan4,kuozhan5,kuozhan6
		 from t_ydxs_materials_manager
		 where zt_dm=1
		 <if test="guid != null and guid != ''" >
		   <![CDATA[ and guid in ('${guid}') ]]>
		</if>
		<if test="zzidSql != null and zzidSql != ''" >
		   <![CDATA[ ${zzidSql} ]]>
		</if>
	</select>
	
	<resultMap id="orgYhInfoMap" type="java.util.HashMap" >
		<result column="gwid" property="gwid"/>
		<result column="bmid" property="bmid"/>
		<result column="zzid" property="zzid"/>
	</resultMap>
	<select id="queryOrgYhInfo" resultMap="orgYhInfoMap" parameterType="java.lang.String">
		SELECT t.sjid AS gwid, t.sjbmid AS bmid, b.zzid FROM t_org_tree t, t_org_bm AS b
      WHERE t.lxid=${yhid} AND t.lx_dm='204' AND t.sjbmid=b.bmid and t.zt_dm=1 and b.zt_dm=1
	</select>
	
	<select id="getZzmc" resultType="java.lang.String" parameterType="java.lang.String">
	 SELECT mc FROM t_org_bm WHERE sjid=0 and zt_dm=1 limit 0,1
	</select>
	<select id="getJtZzmc" resultType="java.lang.String" parameterType="java.lang.String">
	  select mc from t_org_bm 
	  where zzid =#{zzid}  
	  and  LENGTH(sjid)-LENGTH(REPLACE(sjid,'_','')) in
	  (
	    select min(LENGTH(sjid)-LENGTH(REPLACE(sjid,'_',''))) from  t_org_bm where zzid=#{zzid}
	    and zt_dm=1
	  ) and zt_dm=1
	  limit 0,1
	</select>
</mapper>
