<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbro.dzd.base.mkdm.dao.MkdmMapper">
	<!--<sql id="addColumns">id,mkdm,description,createBy,createTime,updateBy,updateTime,available,deleted</sql> -->
	<!--<sql id="updateColumns">mkdm,description,createBy,updateBy,updateTime,available,deleted</sql> -->
	<cache type="com.markbro.asoiaf.mybatis.cache.AsoiafCache" eviction="org.apache.ibatis.cache.decorators.LruCache" readOnly="true" size="1024" flushInterval="3600000"/>
	<sql id="allColumns">id,mkdm,description,createBy,createTime,updateBy,updateTime,available,deleted</sql>
	<!--如果实体类中属性名与数据库表中的字段名不一致就需要用resultMap映射-->
	<resultMap id="mkdmResult" type="com.markbro.dzd.base.mkdm.bean.Mkdm">
		<result property="id" column="id" />
		<result property="mkdm" column="mkdm" />
		<result property="description" column="description" />
		<result property="createBy" column="createBy" />
		<result property="createTime" column="createTime" />
		<result property="updateBy" column="updateBy" />
		<result property="updateTime" column="updateTime" />
		<result property="available" column="available" />
		<result property="deleted" column="deleted" />
	</resultMap>
    <sql id="Mkdm_Where_Clause">
        <if test="id != null and id != ''">
				AND id = #{id}
		</if>
			<if test="mkdm != null and mkdm != ''">
				AND mkdm = #{mkdm}
		</if>
			<if test="description != null and description != ''">
				AND description = #{description}
		</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
		</if>
			<if test="createTime_start != null and createTime_start != ''">
				<![CDATA[   and DATE_FORMAT(createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{createTime_start}, '%Y-%m-%d')   ]]>
		</if>
			<if test="createTime_end != null and createTime_end != ''">
				<![CDATA[   and DATE_FORMAT(createTime, '%Y-%m-%d')<  ADDDATE(DATE_FORMAT(#{createTime_end}, '%Y-%m-%d'),1)   ]]>
		</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
		</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
		</if>
			<if test="available != null and available != ''">
				AND available = #{available}
		</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
		</if>
			
    </sql>
    <select id="get"  resultMap="mkdmResult">
        select <include refid="allColumns"/>
        from sys_mkdm
        where
        id =#{id}
    </select>
    <select id="getMap"  resultType="java.util.Map">
            select <include refid="allColumns"/>
            from sys_mkdm
            where
            id =#{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.markbro.dzd.base.mkdm.bean.Mkdm" flushCache="true">
    	insert into sys_mkdm(id,mkdm,description,createBy,createTime,updateBy,updateTime,available,deleted)
    	values (#{id},#{mkdm},#{description},#{createBy},now(),#{updateBy},now(),1,0)
    </insert>
    <insert id="addByMap" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" flushCache="true">
    	insert into sys_mkdm(id,mkdm,description,createBy,createTime,updateBy,updateTime,available,deleted)
    	values (#{id},#{mkdm},#{description},#{createBy},now(),#{updateBy},now(),1,0)
    </insert>
    <insert id="addBatch" flushCache="true">
        insert into sys_mkdm (id,mkdm,description,createBy,createTime,updateBy,updateTime,available,deleted)
        values
        <foreach collection="list" item="item" separator="," >
        	(#{item.id},#{item.mkdm},#{item.description},#{item.createBy},now(),#{item.updateBy},now(),1,0)
        </foreach>
    </insert>
    <update id="update" parameterType="com.markbro.dzd.base.mkdm.bean.Mkdm" flushCache="true">
    	update sys_mkdm 
    	<set>
    		<if test="mkdm != null">mkdm=#{mkdm},</if>
			<if test="description != null">description=#{description},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			updateTime=now(),
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
    	</set>
    	 where
    	id =#{id}
    </update>
	<update id="updateByMap" parameterType="map" flushCache="true">
        update sys_mkdm
        <set>
            <if test="mkdm != null">mkdm=#{mkdm},</if>
			<if test="description != null">description=#{description},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			updateTime=now(),
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
        </set>
        where
        id =#{id}
    </update>
	<update id="updateByMapBatch" parameterType="map" flushCache="true">
         update sys_mkdm
         <set>
         <if test="mkdm != null">mkdm=#{mkdm},</if>
			<if test="description != null">description=#{description},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			updateTime=now(),
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
         </set>
         where
         id in
         <foreach collection="ids" item = "id" open="(" separator="," close=")">
         #{id}
         </foreach>
    </update>
  	<delete id="delete" flushCache="true">
      	delete  from sys_mkdm where id =#{id}
    </delete>
  	<delete id="deleteBatch" flushCache="true">
      	delete  from sys_mkdm where id in
        <foreach collection="array" item = "ids" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>
    <select id="find" resultMap="mkdmResult" parameterType="java.util.Map">
        SELECT <include refid="allColumns"/> FROM sys_mkdm
        <where>
            and available=1
            and deleted=0
            <include refid="Mkdm_Where_Clause"/>
        </where>
    </select>
    <select id="findByMap" resultMap="mkdmResult"  parameterType="map" >
   		SELECT <include refid="allColumns"/> FROM sys_mkdm
   		<where>
   		    <if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="mkdm != null and mkdm != ''">
				AND mkdm = #{mkdm}
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
			</if>
			<if test="createTime_start != null and createTime_start != ''">
				<![CDATA[   and DATE_FORMAT(createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{createTime_start}, '%Y-%m-%d')   ]]>
			</if>
			<if test="createTime_end != null and createTime_end != ''">
				<![CDATA[   and DATE_FORMAT(createTime, '%Y-%m-%d')<  ADDDATE(DATE_FORMAT(#{createTime_end}, '%Y-%m-%d'),1)   ]]>
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
			</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
			</if>
			<if test="available != null and available != ''">
				AND available = #{available}
			</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
			</if>
			
   		</where>
   	</select>

</mapper>
