<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbro.dzd.base.orgRole.dao.RoleMapper">
	<!--<sql id="addColumns">orgid,id,name,description,datascope,createTime,updateTime,createBy,updateBy,available,deleted</sql> -->
	<!--<sql id="updateColumns">orgid,name,description,datascope,updateTime,createBy,updateBy,available,deleted</sql> -->
	<cache type="com.markbro.asoiaf.mybatis.cache.AsoiafCache" eviction="org.apache.ibatis.cache.decorators.LruCache" readOnly="true" size="1024" flushInterval="3600000"/>
	<sql id="allColumns">orgid,id,name,description,datascope,createTime,updateTime,createBy,updateBy,available,deleted</sql>
	<!--如果实体类中属性名与数据库表中的字段名不一致就需要用resultMap映射-->
	<resultMap id="roleResult" type="com.markbro.dzd.base.orgRole.bean.Role">
		<result property="orgid" column="orgid" />
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="datascope" column="datascope" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
		<result property="createBy" column="createBy" />
		<result property="updateBy" column="updateBy" />
		<result property="available" column="available" />
		<result property="deleted" column="deleted" />
	</resultMap>
    <sql id="Role_Where_Clause">
        <if test="orgid != null and orgid != ''">
				AND orgid = #{orgid}
		</if>
			<if test="id != null and id != ''">
				AND id = #{id}
		</if>
			<if test="name != null and name != ''">
				AND name like CONCAT('%',#{name},'%')
		</if>
			<if test="description != null and description != ''">
				AND description = #{description}
		</if>
			<if test="datascope != null and datascope != ''">
				AND datascope = #{datascope}
		</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
		</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
		</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
		</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
		</if>
			<if test="available != null and available != ''">
				AND available = #{available}
		</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
		</if>
			
    </sql>
    <select id="get"  resultMap="roleResult">
        select <include refid="allColumns"/>
        from org_role
        where
        id =#{id}
    </select> 
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.markbro.dzd.base.orgRole.bean.Role" flushCache="true">
    	insert into org_role(orgid,id,name,description,datascope,createTime,updateTime,createBy,updateBy,available,deleted)
    	values (#{orgid},#{id},#{name},#{description},#{datascope},now(),now(),#{createBy},#{updateBy},1,0)
    </insert>
    <insert id="addBatch" flushCache="true">
        insert into org_role (orgid,id,name,description,datascope,createTime,updateTime,createBy,updateBy,available,deleted)
        values
        <foreach collection="list" item="item" separator="," >
        	(#{item.orgid},#{item.id},#{item.name},#{item.description},#{item.datascope},now(),now(),#{item.createBy},#{item.updateBy},1,0)
        </foreach>
    </insert>
    <update id="update" parameterType="com.markbro.dzd.base.orgRole.bean.Role" flushCache="true">
    	update org_role 
    	<set>
    		<if test="orgid != null">orgid=#{orgid},</if>
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="datascope != null">datascope=#{datascope},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
    	</set>
    	 where
    	id =#{id}
    </update>
	<update id="updateByMap" parameterType="map" flushCache="true">
        update org_role
        <set>
            <if test="orgid != null">orgid=#{orgid},</if>
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="datascope != null">datascope=#{datascope},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
        </set>
        where
        id =#{id}
    </update>
	<update id="updateByMapBatch" parameterType="map" flushCache="true">
         update org_role
         <set>
         <if test="orgid != null">orgid=#{orgid},</if>
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="datascope != null">datascope=#{datascope},</if>
			updateTime=now(),
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="updateBy != null">updateBy=#{updateBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
         </set>
         where
         id in
         <foreach collection="ids" item = "id" open="(" separator="," close=")">
         #{id}
         </foreach>
    </update>
  	<delete id="delete" flushCache="true">
      	delete  from org_role where id =#{id}
    </delete>
  	<delete id="deleteBatch" flushCache="true">
      	delete  from org_role where id in
        <foreach collection="array" item = "ids" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>
    <select id="find" resultMap="roleResult" parameterType="java.util.Map">
        SELECT <include refid="allColumns"/> FROM org_role
        <where>
            and available=1
            and deleted=0
            <include refid="Role_Where_Clause"/>
        </where>
    </select>
    <select id="findByMap" resultMap="roleResult"  parameterType="map" >
   		SELECT <include refid="allColumns"/> FROM org_role
   		<where>
   		    <if test="orgid != null and orgid != ''">
				AND orgid = #{orgid}
			</if>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name like CONCAT('%',#{name},'%')
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="datascope != null and datascope != ''">
				AND datascope = #{datascope}
			</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				AND updateTime = #{updateTime}
			</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND updateBy = #{updateBy}
			</if>
			<if test="available != null and available != ''">
				AND available = #{available}
			</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
			</if>
			
   		</where>
   	</select>

</mapper>
