<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbro.dzd.cms.product.dao.ProductMapper">
	<!--<sql id="addColumns">id,cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,createTime,available,deleted</sql> -->
	<!--<sql id="updateColumns">cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,available,deleted</sql> -->
	<cache type="com.markbro.asoiaf.mybatis.cache.AsoiafCache" eviction="org.apache.ibatis.cache.decorators.LruCache" readOnly="true" size="1024" flushInterval="3600000"/>
	<sql id="allColumns">id,cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,createTime,available,deleted</sql>
	<!--如果实体类中属性名与数据库表中的字段名不一致就需要用resultMap映射-->
	<resultMap id="productResult" type="com.markbro.dzd.cms.product.bean.Product">
		<result property="id" column="id" />
		<result property="cpdm" column="cpdm" />
		<result property="cpmc" column="cpmc" />
		<result property="cpsm" column="cpsm" />
		<result property="zcfs" column="zcfs" />
		<result property="zcmy" column="zcmy" />
		<result property="sort" column="sort" />
		<result property="createBy" column="createBy" />
		<result property="createTime" column="createTime" />
		<result property="available" column="available" />
		<result property="deleted" column="deleted" />
	</resultMap>
    <sql id="Product_Where_Clause">
        <if test="id != null and id != ''">
				AND id = #{id}
		</if>
			<if test="cpdm != null and cpdm != ''">
				AND cpdm = #{cpdm}
		</if>
			<if test="cpmc != null and cpmc != ''">
				AND cpmc like concat(concat('%',#{cpmc}),'%')
		</if>
			<if test="cpsm != null and cpsm != ''">
				AND cpsm = #{cpsm}
		</if>
			<if test="zcfs != null and zcfs != ''">
				AND zcfs = #{zcfs}
		</if>
			<if test="zcmy != null and zcmy != ''">
				AND zcmy = #{zcmy}
		</if>
			<if test="sort != null and sort != ''">
				AND sort = #{sort}
		</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
		</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
		</if>
			<if test="available != null and available != ''">
				AND available = #{available}
		</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
		</if>
			
    </sql>
    <select id="get"  resultMap="productResult">
        select <include refid="allColumns"/>
        from cms_product
        where
        id =#{id}
    </select>
    <select id="getMap"  resultType="java.util.Map">
            select <include refid="allColumns"/>
            from cms_product
            where
            id =#{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.markbro.dzd.cms.product.bean.Product" flushCache="true">
    	insert into cms_product(id,cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,createTime,available,deleted)
    	values (null,#{cpdm},#{cpmc},#{cpsm},#{zcfs},#{zcmy},#{sort},#{createBy},now(),1,0)
    </insert>
    <insert id="addByMap" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" flushCache="true">
    	insert into cms_product(id,cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,createTime,available,deleted)
    	values (null,#{cpdm},#{cpmc},#{cpsm},#{zcfs},#{zcmy},#{sort},#{createBy},now(),1,0)
    </insert>
    <insert id="addBatch" flushCache="true">
        insert into cms_product (id,cpdm,cpmc,cpsm,zcfs,zcmy,sort,createBy,createTime,available,deleted)
        values
        <foreach collection="list" item="item" separator="," >
        	(null,#{item.cpdm},#{item.cpmc},#{item.cpsm},#{item.zcfs},#{item.zcmy},#{item.sort},#{item.createBy},now(),1,0)
        </foreach>
    </insert>
    <update id="update" parameterType="com.markbro.dzd.cms.product.bean.Product" flushCache="true">
    	update cms_product 
    	<set>
    		<if test="cpdm != null">cpdm=#{cpdm},</if>
			<if test="cpmc != null">cpmc=#{cpmc},</if>
			<if test="cpsm != null">cpsm=#{cpsm},</if>
			<if test="zcfs != null">zcfs=#{zcfs},</if>
			<if test="zcmy != null">zcmy=#{zcmy},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
    	</set>
    	 where
    	id =#{id}
    </update>
	<update id="updateByMap" parameterType="map" flushCache="true">
        update cms_product
        <set>
            <if test="cpdm != null">cpdm=#{cpdm},</if>
			<if test="cpmc != null">cpmc=#{cpmc},</if>
			<if test="cpsm != null">cpsm=#{cpsm},</if>
			<if test="zcfs != null">zcfs=#{zcfs},</if>
			<if test="zcmy != null">zcmy=#{zcmy},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
        </set>
        where
        id =#{id}
    </update>
	<update id="updateByMapBatch" parameterType="map" flushCache="true">
         update cms_product
         <set>
         <if test="cpdm != null">cpdm=#{cpdm},</if>
			<if test="cpmc != null">cpmc=#{cpmc},</if>
			<if test="cpsm != null">cpsm=#{cpsm},</if>
			<if test="zcfs != null">zcfs=#{zcfs},</if>
			<if test="zcmy != null">zcmy=#{zcmy},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="createBy != null">createBy=#{createBy},</if>
			<if test="available != null">available=#{available},</if>
			<if test="deleted != null">deleted=#{deleted},</if>
			
         </set>
         where
         id in
         <foreach collection="ids" item = "id" open="(" separator="," close=")">
         #{id}
         </foreach>
    </update>
  	<delete id="delete" flushCache="true">
      	delete  from cms_product where id =#{id}
    </delete>
  	<delete id="deleteBatch" flushCache="true">
      	delete  from cms_product where id in
        <foreach collection="array" item = "ids" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>
    <select id="find" resultMap="productResult" parameterType="java.util.Map">
        SELECT <include refid="allColumns"/> FROM cms_product
        <where>
            and available=1
            and deleted=0
            <include refid="Product_Where_Clause"/>
        </where>
    </select>
    <select id="findByMap" resultMap="productResult"  parameterType="map" >
   		SELECT <include refid="allColumns"/> FROM cms_product
   		<where>
   		    <if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="cpdm != null and cpdm != ''">
				AND cpdm = #{cpdm}
			</if>
			<if test="cpmc != null and cpmc != ''">
				AND cpmc like concat(concat('%',#{cpmc}),'%')
			 </if>
			<if test="cpsm != null and cpsm != ''">
				AND cpsm = #{cpsm}
			</if>
			<if test="zcfs != null and zcfs != ''">
				AND zcfs = #{zcfs}
			</if>
			<if test="zcmy != null and zcmy != ''">
				AND zcmy = #{zcmy}
			</if>
			<if test="sort != null and sort != ''">
				AND sort = #{sort}
			</if>
			<if test="createBy != null and createBy != ''">
				AND createBy = #{createBy}
			</if>
			<if test="createTime != null and createTime != ''">
				AND createTime = #{createTime}
			</if>
			<if test="available != null and available != ''">
				AND available = #{available}
			</if>
			<if test="deleted != null and deleted != ''">
				AND deleted = #{deleted}
			</if>
			
   		</where>
   	</select>


	<update id="updateSort" parameterType="java.lang.String">
		update cms_product set sort=#{sort} where id=#{id}
	</update>
	<select id="getMaxSort" resultType="java.lang.Integer">
		select IFNULL(Max(sort),0) from cms_product where 1=1 and deleted=0
	</select>

</mapper>
